@charset "UTF-8";
@font-face {
    font-family: "fastyle";
    src: url("fonts/fastyle.eot");
    src: url("fonts/fastyle.eot?#iefix") format("embedded-opentype"), url("fonts/fastyle.woff") format("woff"), url("fonts/fastyle.ttf") format("truetype"), url("fonts/fastyle.svg#fastyle") format("svg");
    font-weight: normal;
    font-style: normal
}
[data-icon]:before {
    font-family: "fastyle" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
[class^="icon-"]:before,
[class*=" icon-"]:before,
.icon:before,
.jGrowl-notification:before {
    font-family: "fastyle" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.jGrowl-notification.ui-state-error:before {
    content: "\61"
}
.icon-right-open:before,
li.header:not(.search):before {
    content: "\65"
}
.icon-down-open:before,
li.expanded.header:not(.search):before {
    content: "\64"
}
.icon-attach:before {
    content: "\67"
}
.icon-attention:before {
    content: "\68"
}
.icon-check:before,
.jGrowl-notification.ui-state-highlight:before {
    content: "\69"
}
.icon-down-open-big:before {
    content: "\6b";
}
.icon-up-open-big:before {
    content: "\6c";
}
.icon-left-open-big:before {
    content: "\6d";
}
.icon-right-open-big:before {
    content: "\6e";
}
.icon-cog:before {
    content: "\72";
}
li.header:before {
    margin-right: 5px;
    position: relative;
    top: 1px
}
.CodeMirror {
    height: 500px!important;
    width: 100%!important
}
.fastyle {
    position: relative
}
.fastyle > .content {
    width: 80%;
    float: left
}
.fastyle.full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.fastyle.full .sidebar {
    height: 100vh;
    height: 100vh
}
.fastyle.full .CodeMirror {
    height: -webkit-calc(100vh - 95px)!important;
    height: calc(100vh - 95px)!important
}
.fastyle.full .CodeMirror-merge,
.fastyle.full .CodeMirror-merge .CodeMirror {
    height: -webkit-calc(100vh - 125px)!important;
    height: calc(100vh - 125px)!important;
}
.fastyle .form_row {
    margin: 0;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #455463;
}
.fastyle ul,
.fastyle li {
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none
}
/* Editor */

.fastyle .sidebar {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    float: left;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background: #afbac4;
    overflow-y: auto;
    width: 20%;
    height: 595px
}
.fastyle .sidebar .simplebar-content {
    overflow-y: scroll!important
}
.fastyle .sidebar ul li {
    margin: 0;
    display: block;
    cursor: pointer;
    padding: 10px 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #546a80;
    font-size: 10px;
    position: relative;
    width: auto;
    font-weight: 500;
}
.fastyle .sidebar ul li.active {
    color: #ffffff;
    font-weight: bold;
    background: rgb(69, 84, 99);
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    margin: 0 0 0 10px;
    padding: 10px 25px 10px 15px;
}
.fastyle .switcher .content > div > div.not-saved,
.fastyle .sidebar ul li.not-saved {
    font-style: italic
}
.fastyle .sidebar ul li.not-saved:after,
.fastyle .switcher .content > div > div.not-saved:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #ffb920;
    display: inline-block;
    -webkit-border-radius: 999em;
    border-radius: 999em;
    position: absolute;
    top: 13px;
    right: 20px;
}
.fastyle .switcher .content > div > div.not-saved {
    padding-right: 25px
}
.fastyle .sidebar ul li.not-saved.active:after,
.fastyle .switcher .content > div > div.not-saved:after {
    right: 10px
}
.fastyle .sidebar ul li[data-status="modified"],
.fastyle .sidebar ul li[status="modified"] {
    color: #d5fb9e;
}
.fastyle .sidebar ul li[data-status="modified"].active,
.fastyle .sidebar ul li[status="modified"].active {
    color: #aed379;
}
.fastyle .sidebar ul li[data-status="original"],
.fastyle .sidebar ul li[status="original"] {
    color: #485ea5
}
.fastyle .sidebar ul li[data-status="original"].active,
.fastyle .sidebar ul li[status="original"].active {
    color: #7a98f7
}
.fastyle .sidebar ul li .icon-attention {
    color: #fff230;
}
.fastyle .sidebar ul li.active .icon-attention {
    color: #fff077
}
.fastyle .sidebar ul li .action {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px
}
.fastyle .sidebar li.header {
    padding: 10px;
    margin: 0
}
.fastyle .sidebar li i[class*="icon-"] {
    float: right;
    font-size: 11px;
    margin: 0 0 0 5px
}
.fastyle .sidebar li.header+ul {
    display: none!important
}
.fastyle .sidebar li.header.expanded+ul {
    display: block!important
}
.fastyle .sidebar li+ul .header {
    padding-left: 23px
}
.fastyle .sidebar li+ul ul {
    padding-left: 20px;
}
.fastyle:after {
    content: "";
    display: block;
    clear: both
}
/* Bar */

.fastyle .bar {
    background: #455463;
    color: #fff;
    width: 100%;
    padding: 12px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex
}
.fastyle .bar > * {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.fastyle .bar .sidebar {
    height: auto;
    float: none;
    display: none;
    background: none;
}
.fastyle .bar .label {
    font-size: 15px;
}
.fastyle .bar .label .meta {
    font-size: 11px;
    margin-left: 10px;
    color: #99a0a7
}
.fastyle .bar .actions {
    padding: 0;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.fastyle .bar.top {
    min-height: 50px;
}
.fastyle .bar.bottom {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
}
.fastyle .bar.bottom .actions {
    padding: 15px 25px;
}
.fastyle .button {
    padding: 5px 8px;
    background: #ced5db;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 4px;
    display: inline-block;
    cursor: pointer;
    color: #455463;
    border: none;
    font-size: 12px;
    outline: none;
    line-height: 1;
}
.fastyle .bar .actions > i {
    margin: 0 0 0 20px;
    cursor: pointer
}
.fastyle .button.current {
    background: #60a8d2;
}
.fastyle .button.original {
    background: #ab5795;
}
.fastyle .sidebar .nothing-found,
.fastyle .bar .actions .button:not(.visible) {
    display: none
}
.fastyle .bar[data-status="modified"] .actions .revert,
.fastyle .bar[status="modified"] .actions .revert,
.fastyle .bar[data-status="modified"] .actions .diff,
.fastyle .bar[status="modified"] .actions .diff {
    display: -webkit-box;
}
.fastyle .bar .actions .diff.active {
    background: #a981d5;
    color: #fff;
}
.fastyle .bar[data-status="original"] .actions .delete,
.fastyle .bar[status="original"] .actions .delete {
    color: #fff;
    background: #b75c5c;
    display: inline-block
}
.fastyle .bar .actions .add {
    background: #aed581
}
.fastyle .bar .actions .button.quickmode.enabled {
    background: #d5ca81
}
/* Switcher */

.fastyle .switcher {
    padding: 10px 0 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #ced5db;
    position: relative;
    color: #455463;
}
.fastyle .switcher .sidebar .search {
    padding: 0 12px;
}
.fastyle .bar .swiper-button-prev,
.fastyle .bar .swiper-button-next {
    background: none;
    top: calc(50% + 4px);
}
.fastyle .switcher .content {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    margin: 0 50px
}
.fastyle .switcher .swiper-wrapper {
    height: auto
}
.fastyle .switcher .content > div > div {
    padding: 10px 10px 10px 25px;
    color: rgb(84, 106, 128);
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.fastyle .switcher .content > div > div.active {
    background: rgb(69, 84, 99);
    color: #fff;
}
.fastyle .switcher .delete {
    position: absolute;
    top: 13px;
    left: 11px;
    font-size: 10px;
}
.fastyle .switcher .content > div > div:only-child {
    padding-left: 10px;
}
.fastyle .switcher .content > div > div:only-child .delete {
    display: none
}
/* Inputs */

.fastyle input[type="textbox"] {
    padding: 8px 12px;
    margin: 0;
    -webkit-appearance: none;
    border: 1px solid rgba(255, 255, 255, .2);
    background: rgba(255, 255, 255, .2);
    color: #fff;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.fastyle .actions input[type="textbox"] {
    width: auto;
    padding: 4px 8px 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    margin-left: 5px;
    line-height: 1;
}
.fastyle .actions input[type="textbox"] + span {
    margin-left: 0!important;
    -webkit-border-radius: 0 3px 3px 0!important;
    border-radius: 0 3px 3px 0!important
}
/* CodeMirror overlay */

.CodeMirror .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-border-radius: 6px;
    border-radius: 6px
}
/* CodeMirror search dialog */

.fastyle .CodeMirror-dialog .button {
    height: 17px;
    vertical-align: top;
    background: #d6d6d6;
    margin: 0;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    color: #515d6b;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    line-height: 19px;
}
.fastyle .CodeMirror-dialog .button:last-of-type {
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #7f8b9a;
}
.fastyle .CodeMirror-dialog div:last-child {
    margin-top: 10px
}
.fastyle .button.prev:before,
.fastyle .button.next:before {
    line-height: 20px;
}
/* Misc */

.fastyle .delete {
    color: #e06971
}
.fastyle textarea {
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    background: transparent;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
}
/* jGrowl */

.jGrowl {
    position: absolute;
    display: block
}
.jGrowl-notification.ui-state-highlight,
.jGrowl-notification.ui-state-error {
    border: none;
    background: hsla(0, 0%, 100%, 0.95);
    font-weight: 400;
    color: #676767;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-left: 55px;
    position: relative;
    line-height: 1.6
}
.jGrowl-notification .jGrowl-close {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    color: inherit
}
.jGrowl-notification.ui-state-highlight:before,
.jGrowl-notification.ui-state-error:before {
    display: block;
    text-align: center;
    background: #71c341;
    color: #fff;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 999em;
    border-radius: 999em;
    line-height: 30px;
    font-size: 16px;
    float: left;
    margin: 0 10px 0 0;
    position: absolute;
    top: 15px;
    left: 10px
}
.jGrowl-notification.ui-state-error:before {
    background: #c34156
}