/* Bootstrap Fixes */

.label {
    color: #000;
}

/** Modal Start **/

.blocker {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 9999;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.75);
	text-align: center;
}

.blocker:before{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.05em;
}

.blocker.behind {
	background-color: transparent;
}

.modal {
	width: 400px;
	text-align: left;
	background: #fff;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	-o-box-shadow: 0 0 10px #000;
	-ms-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.modal a.close-modal {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(../../../images/close.png) no-repeat 0 0;
}

.modal-spinner {
	display: none;
	width: 64px;
	height: 64px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -32px;
	margin-top: -32px;
	background: url(../../../images/spinner_big.gif) no-repeat center center;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
}
/** Modal End **/

.row {
    margin-right: 0;
    margin-left: 0;
}

*[class*="trow"] {
    padding: 3px;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.breadcrumb {
    padding: 8px;
    margin-bottom: 20px;
	width: 100%;
    list-style: none;
    background-color: #e0e0e0;
    color: #333;
    border-radius: 0px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkbox, .radio {
    display: inline;
}

.panel-title, h3.panel-title>a {
    color: #fff;
	font-weight: bold;
}

.panel-body {
    padding-left: 15px;
    padding-right: 15px;
	padding-top:0;
	padding-bottom: 0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 1px;
}

.navbar {
	margin-bottom:0;
}
		

/* Forum head collapsible links */

.navbar-forumhead {
	min-height: 30px;
	margin-bottom: -7px;
	margin-top: -2px;
}

.navbar-forumhead .navbar-toggle {
    border-color: #fff;
	margin:0px;
	padding:6px 7px;
}

.navbar-forumhead .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-forumhead ul {
    margin-right:12px;
}

.navbar-forumhead ul>li>a {
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-forumhead ul>li>a:focus, .navbar-forumhead ul>li>a:hover {
    background-color: #ffffff;
    color: #262626;
}

/* End Forum head collapsible links */
	
		
		
		