.cp_options td:first-child{width:230px;}.usercp_options{margin:0;padding:0;list-style:none outside none;}

.usercp_options>li{
        margin:0;        padding:8px 0px;}

.usercp_options>li>span{
        display:inline-block;        text-align:right;}

.usercp_nav_item{display:block;}

.usercp_nav_item:before{
font-size: 16px;font-family: 'FontAwesome';width: 28px;margin-right: 3px;text-align: center;display: inline-block;padding: 2px 0px;}

.usercp_nav_location:before {content:"\f011";}

.usercp_nav_ustyle:before {content:"\f005";}

.usercp_nav_emailservice:before {content:"\f0e0";}

.usercp_nav_composepm:before{content:"\f112";}

.usercp_nav_changename:before{content:"\f234";}

.usercp_nav_pmfolder:before{content:"\f07c";}

.usercp_nav_sub_pmfolder:before{content:"\f07b";}

.usercp_nav_trash_pmfolder:before{content:"\f014";}

.usercp_nav_pmtracking:before{content:"\f024";}

.usercp_nav_pmfolders:before{content:"\f07b";}

.usercp_nav_profile:before{content:"\f007";}

.usercp_nav_email:before{content:"\f0e0";}

.usercp_nav_password:before{content:"\f084";}

.usercp_nav_username:before{content:"\f111";}

.usercp_nav_editsig:before{content:"\f040";}

.usercp_nav_avatar:before{content:"\f03e";}

.usercp_nav_options:before{content:"\f085";}

.usercp_nav_usergroups:before{content:"\f0c0";}

.usercp_nav_editlists:before{content:"\f004";}

.usercp_nav_attachments:before{content:"\f0c6";}

.usercp_nav_drafts:before{content:"\f040";}

.usercp_nav_subscriptions:before{content:"\f02e";}

.usercp_nav_fsubscriptions:before{content:"\f03a";}

.usercp_nav_notepad:before{content:"\f02d";}

.usercp_nav_viewprofile:before{content:"\f007";}

.usercp_nav_home:before{content:"\f015";}

.usercp_nav_status:before{content:"\f118";}

.usercp_nav_myalerts:before{content:"\f0f3";}

.usercp_nav_myalerts_delete_all:before{content:"\f058";}

.usercp_nav_myalerts_delete_read:before{content:"\f05c";}

.usercp_nav_award:before{content:"\f091";}

.usercp_notepad{width:99%;}

#usercpalerts_e td[class^="trow"],#usercppms_e td[class^="trow"],#usercpprofile_e td[class^="trow"],#usercpmisc_e td[class^="trow"]{border:none;padding:0px;}

.pagination{padding:3px 0px;}

.usercp_notepad{width:99%;}

.usercp_container{margin:5px;padding:8px;}

td[class^=trow]{border:none;}
		
		
		
		
		
		